/* GENERAL */
* {
    font-family: 'Roboto', sans-serif;
}

img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

#header {
    position: absolute;
}


.first-page {
    background: url(../img/back-1.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 100vh;


}