/* GENERAL */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

/*img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
}*/
h1, h2, h3, h4 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}


/*Header*/
.header {
    width: 100%;
    position: absolute;
    padding-top: 30px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    padding-left: 30px;
}

.header-inside {
    display: flex; /* делаем блоки из дочерних элементов */
    justify-content: space-between; /* размещаем равномерно по ширине блока*/
    align-items: center;
}

/* Navigation */
.nav-header {
    font-size: 14px;
}

.head-menu {
    display: inline-block;
    /* Это значение генерирует блочный
                               элемент, который обтекается другими
                               элементами веб-страницы подобно встроенному
                               элементу*/

    vertical-align: top;
    /*Выравнивает элемент по вертикали
                               относительно своего родителя, окружающего
                               текста или ячейки таблицы.*/
    margin: 0 10px;
    color: #fff;
    text-decoration: none; /*убераем подчеркивание*/
    transition: color .2s linear;
    /*Устанавливает эффект перехода
                                       между двумя состояниями элемента*/

}

.head-menu:hover {
    color: #4f71ed; /* меняем цвет при наведении*/
}


/* Title page */
.title-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../img/back-1.jpg") no-repeat /* картинка без повторений*/ center /* масштабирование от центра*/;
    background-size: cover; /* занимает всю площадь экрана*/
}

.title-slogan {
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
    text-align: center;
}

.main-slogan {
    font-size: 136px;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    letter-spacing: 5px;
}

.secondary-slogan {
    font-size: 46px;
    font-weight: lighter;
    color: #fff;
    letter-spacing: 3px;
}

.arrow-down {
    display: block;
    margin-top: 20px;
}

/* Title Annotation */
.title-annotation {
    background-color: #4f71ed;
    min-height: 300px;

}

.annotation {
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
    text-align: center;
}

.from-row-materials {
    margin: 0;
    padding: 110px 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
}

/*Section*/
.energy-storage {
    min-height: 980px;
}

.section-header {
    text-align: center;
    margin: 0 auto;
}

.bromine-for-energy-storage {
    font-weight: lighter;
    font-size: 42px;
    padding-top: 160px;
    letter-spacing: 2px;
    padding-bottom: 50px;
}

.section-annotation {
    font-size: 18px;
    display: block;
    max-width: 750px;
    margin: 0 auto;
    letter-spacing: 1px;
    color: dimgray;
    line-height: 1.5em;
}

/* Icons */
.section-ic {
    padding-bottom: 100px;
}

.section-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 70px;
    align-items: center;

}
.icon-item{
    width: 33.33%;
    text-align: center;
}
.partner-item{
    width: 20%;
    text-align: center;
}

.partner-icon {
    filter: grayscale(100%);
}

.partner-icon:hover {
    filter: none;
}


.section-links {
    display: flex;
    justify-content: center;
    padding-top: 112px;
    padding-bottom: 130px;
}

.energy-storage-link {
    text-decoration: none;
}

.energy-storage-link:after {
    content: url("../img/arrow-right.png");
    padding-left: 20px;
    vertical-align: top;
}

.energy-storage-link:hover {

    color: black;
}

/* Video */
.video {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.video-presentation {
    position: relative;
    height: 0;
    padding-top: 56.25%;
    width: 100%;
}

.video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 0;
}

.promo-block {
    min-height: 359px;
    display: flex;

}

.products {
    border-right: 1px solid lightsteelblue;

}

.product-section1, .product-section2, .resource-center, h3 {
    padding-bottom: 20px;
    color: black;
    padding-top: 80px;
    font-size: 43px;
    font-weight: lighter;
    line-height: normal;


}

.product-section1, .product-section2, .resource-center {
    color: dimgray;
    line-height: 1.5em;
    letter-spacing: 1px;
    font-size: 16px;
    padding-left: 80px;

}

.resource-center {
    background-color: #4f71ed;
}

.learn-more {
    color: #eeeeee;
}

.research-project {
    height: 760px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    background: url("../img/woman.jpg") center no-repeat;
    background-size: cover;
    place-content: center;


}

.research-project h3 {
    font-size: 43px;
    font-weight: lighter;
    line-height: 1.1em;
    max-width: 330px;
}

.research-project p {
    font-size: 18px;
}

.learn-more2 {
    text-decoration: none;
    color: dimgray;
    font-size: 16px;
    padding-left: 18px;
}

.learn-more2:after {
    content: url("../img/arrow-right.png");
    padding-left: 20px;
    vertical-align: text-top;
}

.project-header {
    width: 500px;
    padding-top: 100px;
    padding-left: 70px;
    padding-bottom: 100px;
    letter-spacing: 1px;
    color: dimgray;
    line-height: 1.5em;
}


.installation {
    background: linear-gradient(to right, #2aaae2, #6633ff);
    display: flex;
    justify-content: center;
    color: #fff;
}



.br {
    position: absolute;
}

.text-installation {
    text-align: center;
}

.text-installation h3 {
    padding-top: 140px;
    font-weight: lighter;
    font-size: 43px;
    line-height: 1.1em;
    text-align: center;

}

.text-installation p {
    font-weight: lighter;
    margin: 0;
}

.points {
    font-size: 50px;
    margin-top: 0;
    padding-bottom: 140px;
}

.contact-us {
    background: #eee;
    min-height: 516px;
    color: black;
}

.contact-us h3 {
    font-size: 43px;
    font-weight: lighter;
    line-height: 1.1em;
    max-width: 500px;
}

.contact-us p {
    font-size: 18px;
}

.btn-contact-us {
    padding-top: 50px;
}

.contact {
    border: 1px solid #6b35a0;
    font-size: 13px;
    padding: 13px;
    text-decoration: none;
}

.contact:hover {
    background-color: #6B35A0;
    color: #eeeeee;
}

.bottle-page {
    display: flex;
    justify-content: space-between;
}

.footer {
    background: #12043d;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-nav {
    padding-top: 50px;
}