/* GENERAL */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

/*img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
}*/
h1, h2, h3, h4 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

/*Header*/
.header {
    width: 100%;
    position: absolute;
    padding-top: 30px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.logo{
    padding-left: 30px;
}
.header-inside {
    display: flex; /* делаем блоки из дочерних элементов */
    justify-content: space-between; /* размещаем равномерно по ширине блока*/
    align-items: center;
}

/* Navigation */
.nav-header {
    font-size: 14px;
}

.head-menu {
    display: inline-block;
    /* Это значение генерирует блочный
                               элемент, который обтекается другими
                               элементами веб-страницы подобно встроенному
                               элементу*/

    vertical-align: top;
    /*Выравнивает элемент по вертикали
                               относительно своего родителя, окружающего
                               текста или ячейки таблицы.*/
    margin: 0 10px;
    color: #fff;
    text-decoration: none; /*убирием подчеркивание*/
    transition: color .2s linear;
    /*Устанавливает эффект перехода
                                       между двумя состояниями элемента*/

}

.head-menu:hover {
    color: #4f71ed; /* меняем цвет при наведении*/
}


/* Title page */
.title-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../img/back-1.jpg") no-repeat /* картинка без повторений*/ center /* масштабирование от центра*/;
    background-size: cover; /* занимает всю площадь экрана*/
}

.title-slogan {
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
    text-align: center;
}

.main-slogan {
    font-size: 135px;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    font-weight: lighter;
}

.secondary-slogan {
    font-size: 46px;
    font-weight: lighter;
    color: #fff;
    letter-spacing: 3px;
}

.arrow-down {
    display: block;
    margin-top: 10px;
}

/* Title Annotation */
.title-annotation{
    background-color: #4f71ed;

}
.annotation{
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
    text-align: center;
}
.from-row-materials {
    margin: 0;
    padding: 110px 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
}

/*Section*/
    .section-header{
        text-align: center;
        margin: 0 auto;
}

    .bromine-for-energy-storage{
        font-weight: lighter;
        font-size: 42px;
        padding-top: 160px;
        letter-spacing: 2px;


    }
    .section-annotation{
        font-size: 18px;
        padding-top: 50px;
        display: block;
        max-width: 750px;
        margin: 0 auto;
        letter-spacing: 1px;
        color: dimgray;
        line-height: 1.5em;
    }

    /* Icons */

.section-icons1, .section-icons2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 70px;
}

.section-links{
    display: flex;
    justify-content: center;
    padding-top: 112px;
    padding-bottom: 130px;
}
.energy-storage-link{
    content: url("../img/link.gif");
}
.energy-storage-link:hover{
    content: url("../img/link-black.gif");
}

.video{

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.promo h3{
    font-size: 43px;
    font-weight: lighter;
}
.promo-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.products{
    width: 30%;
    border-right: 1px solid lightsteelblue ;
}
.product-section, .product-section2,.product-section3, h3{
    padding-bottom: 20px;
}
.product-section1{
    letter-spacing: 1px;
    color: dimgray;
    line-height: 1.5em;
    padding: 80px 80px;
}
.product-section2{
    letter-spacing: 1px;
    color: dimgray;
    line-height: 1.5em;
    padding: 80px 30px;
}
.product-section3{

    letter-spacing: 1px;
    color: #fff;
    line-height: 1.5em;
    padding: 80px 10px;
}


.research{
    width: 30%;
}
.resource-center{
    width: auto;
    background-color: #4f71ed;
}

.research-project{

    background: url("../img/woman.jpg") no-repeat;
    background-size: cover;
    display: flex;
    min-height: 760px;
}
.research-project h3{
    font-size: 43px;
    font-weight: lighter;
    line-height: 1.1em;
    max-width: 330px;
}
.research-project p{
font-size: 18px;
}
.project-header{
    width: 500px;
    padding-top: 100px;
    padding-left: 70px;
    padding-bottom: 100px;
    letter-spacing: 1px;
    color: dimgray;
    line-height: 1.5em;
}

.installation{
background: linear-gradient(to right , #2aaae2 , #6633ff);
    display: flex;
    justify-content: center;
    color: #fff;

}
.text-installation h3{
    padding-top: 140px;
    font-weight: lighter;
    font-size: 43px;
    line-height: 1.1em;


}
.text-installation p{
    font-weight: lighter;
    margin: 0;
}
.points{
    font-size: 50px;
    margin-top: 0;
    padding-bottom: 140px;
}
.contact-us{
background: #f4f4f4;
}
.contact-us h3{
    font-size: 43px;
    font-weight: lighter;
    line-height: 1.1em;
    max-width: 500px;
}
.contact-us p{
    font-size: 18px;
}
.btn-contact-us{
    padding-top: 50px;
}
.contact{
    border: 1px solid rebeccapurple;
font-size: 13px;
    padding: 13px;
    text-decoration: none;
}
.bottle-page{
    display: flex;
    justify-content: space-between;
}

.footer{
    background: #12043d;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-nav{
    padding-top: 50px;
}